header.header.header--top.header--gray
  .container
    .header__inner
      .header__left
        button(type="button").hamburger.hamburger--block.header__hamburger
          +icon('burger', 'hamburger-icon')
        .logo.header__logo.header__logo--mobile
          a(href="index.html").logo__link
            +picture('static/images/common', 'logo', ['webp', 'png'], 'logo__image')
      .header__right
        a(href="index.html").header__right-link
          +icon('home', 'header__icon')
        a(href="#").header__right-link
          +icon('seeing', 'header__icon')
        a(href="index.html").header__right-logo
          +picture('static/images/common', 'logo-web', ['webp', 'png'], 'header__right-pic')
        .header__user
          +icon('user', 'header__icon')
          span.header__user-name Имя пользователя
          .header__dropdown
            .header__dropdown-bg(data-bg="static/images/content/menu/dropdown-bg.jpg" data-bg-webp="static/images/content/menu/dropdown-bg.webp")
              .header__dropdown-box
                +picture('static/images/common', 'user', ['webp', 'png'], 'header__dropdown-icon')
                span.header__dropdown-name Имя пользователя
                .header__dropdown-bottom
                  a(href="#").header__dropdown-link Аккаунт
                  a(href="course.html").header__dropdown-link Студент
