header.header.header--position
  .container
    .header__inner
      .header__left
        button(type="button").hamburger.header__hamburger
          +icon('burger', 'hamburger-icon')
        .logo.header__logo
          a(href="#").logo__link
            +picture('static/images/common', 'logo', ['webp', 'png'], 'logo__image')
        nav.menu(data-da="menu-mobile, last, 700")
          ul.menu__list
            li.menu__item
              a(href="#" data-elem="#about").menu__link.js-btn-scroll Біз жайлы
            li.menu__item
              a(href="#" data-elem="#team").menu__link.js-btn-scroll эксперттер
            li.menu__item
              a(href="#" data-elem="#courses").menu__link.js-btn-scroll курстар
            li.menu__item
              a(href="#" data-elem=".footer").menu__link.js-btn-scroll байланыс
      .header__right
        a(href="#login" data-fancybox).header__user
          +icon('user', 'header__icon')