header.header.header--position
  .container
    .header__inner
      .header__left
        a(href="index.html").back
          +icon('back', 'back__icon')
          | артқа оралу
      .header__right
        a(href="#").header__right-logo
          +picture('static/images/common', 'logo-web', ['webp', 'png'], 'header__right-pic')