.courses {
  background-color: var(--color-tuatara);
  padding-top: 85px;
  padding-bottom: 110px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-top: 65px;
  }
  &__col {
    width: calc(33.333333% - 25px);
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    margin-bottom: 25px;
    &--shadow {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__image {
    width: 100%;
    height: 205px;
    object-fit: cover;
  }
  &__info {
    display: flex;
    align-items: center;
    padding: 10px 65px;
    min-height: 55px;
    justify-content: space-between;
    border-bottom: 1px solid #B5B3AF;
  }
  &__name {
    display: block;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    margin-right: 10px;
  }
  &__list {
    padding: 0 65px;
    margin-bottom: 20px;
  }
  &__item {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 16px;
    &-icon {
      flex-shrink: 0;
      fill: var(--color-accent);
      margin-right: 15px;
    }
    &--color {
      &-gray {
        color: var(--color-gray);
        .courses__item-icon {
          fill: var(--color-gray)
        }
      }
    }
  }
  &__btn {
    width: 100%;
    display: block;
  }
  &__footer {
    margin-top: auto;
    padding: 0 65px 25px;
  }
  &--white {
    background-color: var(--color-white);
  }
  &--gray {
    background-color: #F4F4F4;
  }
  &--padding {
    padding: 60px 0;
  }
  &__subtitle {
    margin-top: 20px;
    color: var(--color-accent);
    font-size: 30px;
    font-weight: 700;
    &--center {
      text-align: center;
    }
  }
  &__box {
    display: block;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);
    margin-top: 20px;
    &-divide {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
    }
  }
  &__play {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 80px 100px;
    background-color: var(--color-white);
    &-text {
      font-size: 18px;
      line-height: 24px;
      display: block;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1120px) {
  .courses__col {
    width: calc(50% - 25px);
  }
}
@media (max-width: 810px) {
  .courses {
    padding-bottom: 0;
    &.courses--gray {
        background-color: var(--color-white);
        padding-bottom: 50px;
    }
  }
  .courses__play {
    box-shadow: none;
    padding: 0 30px 50px;
  }
  .courses__play-text {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .courses__subtitle--center {
    margin-top: 30px;
  }
}
@media (max-width: 772px) {
  .courses__info {
    padding-left: 35px;
    padding-right: 35px;
  }
  .courses__list {
    padding-left: 35px;
    padding-right: 35px;
  }
  .courses__row {
    margin-left: -15px;
  }
  .courses__col {
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .courses__image {
    height: 170px;
  }
  .courses__subtitle {
    font-size: 20px;
    line-height: 26px;
    margin-top: 10px;
  }
  .courses__box-divide {
    font-size: 12px;
    line-height: 14px;
  }
  .courses__subtitle--center {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .courses {
    padding-top: 50px;
    &__row {
      margin-top: 30px;
    }
  }
}
@media (max-width: 650px) {
  .courses__info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .courses__list {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  .courses__image {
    height: 150px;
  }
  .courses__item {
    margin-top: 15px;
  }
  .courses__footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .courses__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .courses__box-divide {
    font-size: 10px;
    line-height: 12px;
    padding: 5px 10px;
  }
  .courses__box {
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .courses__main {
    display: flex;
    align-items: flex-start;
  }
  .courses__info {
    border-bottom: none;
    min-height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
  }
  .courses__list {
    padding-left: 0;
    padding-right: 0;
  }
  .courses__category {
    margin-left: auto;
  }
  .courses__row {
    display: block;
    margin-left: 0;
  }
  .courses__col {
    width: 100%;
    margin-left: 0;
  }
  .courses__head {
    flex-shrink: 0;
  }
  .courses__image {
    height: 90px;
    max-width: 180px;
    width: 100%;
    color: #000;
  }
  .courses__item {
    margin-top: 10px;
  }
  .courses__btn {
    max-width: 260px;
    margin: 10px auto 0;
    color: var(--color-accent);
  }
  .courses__main {
    padding: 10px;
  }
  .courses__item-icon {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }
  .courses__item {
    font-size: 14px;
    line-height: 18px;
  }
  .courses__item--color-gray {
    font-size: 12px;
    line-height: 16px;
  }
  .courses__name {
    margin-right: 0;
    max-width: 190px;
  }
  .courses__body {
    margin-left: 15px;
  }
  .courses {
    padding-bottom: 10px;
  }
  .courses__box-divide {
    margin-left: auto;
    display: block;
    max-width: fit-content;
    font-size: 0;
    line-height: 0;
    transform: translateY(-10px);
    &::before {
      content: attr(data-mobile);
      font-size: 10px;
      line-height: 12px;
      display: block;
      font-weight: 400;
    }
  }
  .courses__content {
    counter-reset: item;
  }
  .courses__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px 10px;
    align-items: center;
  }
  .courses__subtitle {
    margin-top: 0;
    font-weight: 900;
    margin-right: 10px;
    &::before {
      content: counter(item);
      counter-increment: item;
      margin-right: 15px;
    }
  }
  .courses.courses--gray {
    padding-top: 25px;
  }
  .courses__play {
    padding-left: 0;
    padding-right: 0;
  }
  .courses__subtitle--center {
    margin-top: 25px;
    &::before {
      display: none;
    }
  }
}
@media (max-width: 450px) {
  .courses__item {
    font-size: 12px;
    line-height: 14px;
  }
  .courses__item--color-gray {
    font-size: 10px;
    line-height: 12px;
  }
  .courses__image {
    max-width: 150px;
  }
}
@media (max-width: 400px) {
  .courses {
    padding-top: 30px;
  }
  .courses__item--color-gray {
    font-size: 9px;
    line-height: 11px;
  }
  .courses__body {
    margin-left: 10px;
  }
  .courses__info {
    min-height: 55px;
  }
  .courses__btn {
    margin-top: 0;
  }
  .courses__footer {
    padding-bottom: 15px;
  }
  .courses__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .courses__box-divide {
    padding: 3px 7px;
    min-width: 50px;
    &::before {
      font-size: 7px;
      line-height: 10px;
    }
  }
  .courses__play-text {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}
@media (max-width: 375px) {
  .courses__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 350px) {
  .courses__image {
    max-width: 120px;
    height: 70px;
  }
  .courses__item-icon {
    margin-right: 5px;
  }
}