footer { flex: 0 0 auto; }
.footer {
  background-color: #F4F4F4;
  color: var(--color-black);
  &__top {
    border-bottom: 1px solid #B5B3AF;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    line-height: 19px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(1) {
        max-width: 250px;
      }
      &:nth-child(2) {
        max-width: 100px;
      }
      &:nth-child(3) {
        max-width: 260px;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  &__item {
    margin-bottom: 17px;
    &:last-child {
      margin-bottom: 0;
    }
    &-link {
      display: flex;
      align-items: flex-start;
      &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
    &-icon {
      flex-shrink: 0;
      margin-right: 7px;
    }
  }
  &__col {
    width: 100%;
    &--menu {
      display: flex;
      flex-direction: column;
    }
  }
  &__list {
    margin-top: auto;
  }
  &__bottom {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
    }
  }
  &__copyright {
    display: flex;
    align-items: center;
    &-text {
      font-size: 14px;
      line-height: 19px;
      display: inline-block;
      margin-left: 10px;
    }
    &-icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }
  }
}
@media (max-width: 1050px) {
  .footer__row > *:nth-child(2) {
    display: none;
  }
}
@media (max-width: 850px) {
  .footer__row > *:nth-child(1) {
    max-width: 210px;
  }
  .footer__row > *:nth-child(4) {
    max-width: 262px;
  }
}
@media (max-width: 810px) {
  .footer__row {
    justify-content: flex-start;
  }
  .footer__row > *:nth-child(1) {
    max-width: 310px;
  }
  .footer__bottom-inner {
    padding: 25px 0;
  }
  .footer__bottom {
    background-color: var(--color-tuatara);
  }
  .footer__bottom-inner {
    justify-content: center;
  }
  .footer__copyright-text {
    color: #ADAAAA;
  }
  .footer__copyright-icon {
    fill: #ADAAAA;
  }
}
@media (max-width: 550px) {
  .footer__top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__row {
    display: block;
  }
  .footer__item {
    margin-bottom: 13px;
  }
  .footer__row > * {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 450px) {
  .footer__copyright-text {
    font-size: 10px;
    line-height: 14px;
    margin-left: 5px;
  }
  .footer__copyright-icon {
    width: 15px;
    height: 15px;
  }
  .footer__bottom-inner {
    padding: 15px 0;
  }
}