extends layout/personal

block variables
    -var title = 'жаңалықтар'

block content
  section.news
    .container
      .section-top
        h2.news__title.title.title--size-small.title--color-accent жаңалықтар
        .info.info--bg-gray
          +picture('static/images/common', 'user-yellow', ['webp', 'png'], 'info__pic')
          .info__content
            span.info__name
              +icon('user', 'info__icon')
              | Имя эксперта
            p.info__text Курс басталуынан бастап
              | 4 ай аралығында сізде барлық
              |  сабақтарға доступ болады
      .news__row
        .news__col
          time(datetime="1914-12-20").divide.news__day дд/мм/гггг
          .news__content
            ul.news__list
              li.news__item «Бір жылдық тұлғалық даму» курсы
              li.news__item
                strong Бағасы:
                | 46 800 тг
              li.news__item
                strong Сабақ саны:
                | 61
              li.news__item
                strong Курс ұзақтығы:
                | 15 сағ 34 мин 3 сек
              li.news__item Курс кімдерге арналған?
              li.news__item Жан-жақты тұлғалық жағынан дамығысы келетін кез келген адамға арналған.
              li.news__item Курста не үйренесің?
            p.news__desc Бұл бір жылдық курс. Жан-жақты дамуға арналған көп тақырыптарды қамтиды. Атап айтсақ, физиология және эмоционалды интеллект, үйренуді үйрену, маркетинг, СММ, бизнес, нетворкинг, оффлайн коммуникация.
        .news__col
          time(datetime="1914-12-20").divide.news__day дд/мм/гггг
          .news__content
            ul.news__list
              li.news__item «Бір жылдық тұлғалық даму» курсы
              li.news__item
                strong Бағасы:
                | 46 800 тг
              li.news__item
                strong Сабақ саны:
                | 61
              li.news__item
                strong Курс ұзақтығы:
                | 15 сағ 34 мин 3 сек
              li.news__item Курс кімдерге арналған?
              li.news__item Жан-жақты тұлғалық жағынан дамығысы келетін кез келген адамға арналған.
              li.news__item Курста не үйренесің?
            p.news__desc Бұл бір жылдық курс. Жан-жақты дамуға арналған көп тақырыптарды қамтиды. Атап айтсақ, физиология және эмоционалды интеллект, үйренуді үйрену, маркетинг, СММ, бизнес, нетворкинг, оффлайн коммуникация.
        .news__col
          time(datetime="1914-12-20").divide.news__day дд/мм/гггг
          .news__content
            ul.news__list
              li.news__item «Бір жылдық тұлғалық даму» курсы
              li.news__item
                strong Бағасы:
                | 46 800 тг
              li.news__item
                strong Сабақ саны:
                | 61
              li.news__item
                strong Курс ұзақтығы:
                | 15 сағ 34 мин 3 сек
              li.news__item Курс кімдерге арналған?
              li.news__item Жан-жақты тұлғалық жағынан дамығысы келетін кез келген адамға арналған.
              li.news__item Курста не үйренесің?
            p.news__desc Бұл бір жылдық курс. Жан-жақты дамуға арналған көп тақырыптарды қамтиды. Атап айтсақ, физиология және эмоционалды интеллект, үйренуді үйрену, маркетинг, СММ, бизнес, нетворкинг, оффлайн коммуникация.