extends layout/personal

block variables
	-var title = 'Міндеттер'

block content
	section.tasks
		.container
			.section-top
				h2.tasks__title.title.title--size-small.title--color-accent Міндеттер
				.info.info--bg-gray
					+picture('static/images/common', 'user-yellow', ['webp', 'png'], 'info__pic')
					.info__content
						span.info__name
							+icon('user', 'info__icon')
							| Имя эксперта
						p.info__text Курс басталуынан бастап
							| 4 ай аралығында сізде барлық
							|	сабақтарға доступ болады
			.tasks__row
				.tasks__col
					h3.tasks__subtitle ТҰЛҒАЛАР
					ul.tasks__list
						li.tasks__item
							strong Сатып алушы –
							| интернет-дүкендегі/web-қосымшадағы/мобильді
							| қосымшадағы немесе басқа да интернет-сервистерде/платформа
							| ларда сатушының кез-келген курсын (курстар пакетін)
							| сатып алатын/сатып алған /қолданған/қолданып жүрген азамат.
						li.tasks__item
							strong Сатушы –
							|  «Shonbay Inc.» ЖШС және оның серіктестері.
				.tasks__col
					h3.tasks__subtitle 1. ОРТАҚ ШАРТТАР
					ul.tasks__list
						li.tasks__item.tasks__item--numeric
							strong 1.1.
							| Сатушының кез-келген курсын (курстар пакетін) сатып алған немесе жеке кабинетке кіріп, курстың материалы мен контентін пайдаланатын Сатып алушыға осы нағыз міндеттер жүктеледі.
						li.tasks__item.tasks__item--numeric
							strong 1.2.
							| Сатып алушы осы шарттарды адал және тиісті түрде орындауға міндетті.
				.tasks__col
					h3.tasks__subtitle 2. АВТОРЛЫҚ ҚҰҚЫҚ АЯСЫНДАҒЫ МІНДЕТТЕР
					ul.tasks__list
						li.tasks__item.tasks__item--numeric
							strong 2.1.
							| Сатып алушы Ұлттық (қазақстандық) заңнама немесе халықаралық құқық нормаларын, соның ішінде зияткерлік меншік, авторлық және/немесе сабақтас құқықтар саласындағы заңды бұзатын әрекеттер істемеуі тиіс.
						li.tasks__item.tasks__item--numeric
							strong 2.2.
							| Сатып алушы Сатушының жеке кабинеттегі кез-келген материалы мен контентін (курстар) және де Сатушыға тиісті кез-келген материалды құқық иелерінің алдын-ала келісімінсіз кез-келген тәсілмен пайдалануына, жаңғыртуына, таратуына, көшіруіне, көпшілік алдында көрсетуіне, жалпы жұрттың назарына эфирге беруіне, аударуына, қайта жасауына немесе басқа да тәсілдермен қандай да бір мақсатта қолдануына тыйым салынады.
						li.tasks__item.tasks__item--numeric
							strong 2.3.
							| Сатып алушы Сатушыдан алған жеке кабинеттің құпия сөзі мен логинін үшінші тұлғаға бермеуге, сатпауға, таратпауға міндеттеледі.
						li.tasks__item.tasks__item--numeric
							strong 2.4.
							| Авторлар мен құқық иеленушілердің мүліктік және жеке мүліктік емес құқықтарын, заңды мүдделерін және осы міндеттеменің өзге де шарттарын бұзатын Сатып алушыға Қазақстан Республикасының қолданыстағы заңнамасына сәйкес азаматтық-құқықтық, әкімшілік және қылмыстық жауапкершіліктің кез-келген заңды шаралары қолданылуы мүмкін. Заңды шаралардың ішіне ескерту, бұғаттау, алып тастау және заңды бұзған күнінен бастап Қазақстан Республикасының Республикалық бюджет туралы заңнамасында белгіленген 1000 (мың) АЕК-ке дейінгі (айлық есептік көрсеткіш) айыппұл салынады. Сатушы жоғарыда аталған шаралардың кез-келгенін өз қалауы бойынша қолдануға құқылы. Сатушы жоғарыда көрсетілген айыппұл мөлшерін өз қалауы бойынша азайтуға құқылы.
				.tasks__col.tasks__col--height-auto
					h3.tasks__subtitle 3. Басқа шарттар
					ul.tasks__list
						li.tasks__item.tasks__item--numeric
							strong 3.1.
							| Осы міндеттен туындауы мүмкін даулар Қазақстан Республикасының қолданыстағы заңнамасына сәйкес шешілуі тиіс.
						li.tasks__item.tasks__item--numeric
							strong 3.2.
							| Соттың осы міндеттеменің қандай да бір ережесін жарамсыз деп тануы бұл міндеттемедегі өзге ережелердің жарамсыз болуына әкеп соқпайды.
						li.tasks__item.tasks__item--numeric
							strong 3.3.
							| Сатып алушы осы міндеттеменің ережелерін бұзған жағдайда Сатушы тарапынан әрекет болмаса, Қазақстан Республикасының қолданыстағы заңнамасына сәйкес Сатушы өз мүдделері мен құқықтарын қорғау үшін тиісті іс-әрекеттерді кешірек қолдану құқығынан айырылмайды.
					p.tasks__quote Сатып алушы осы міндеттеменің барлық тармақтарымен танысқанын растайды. Оларды қабылдайды және келіседі.