// Colors

:root {
  --color-tuatara: #2E2E2D;
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #3C3A37;
  --color-yellow: #F2D303;
}
// Sizes

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1240px;

// Fonts
