section.advantages
  .container
    .advantages__row
      .advantages__col
        +icon('reviews', 'advantages__icon')
        h3.advantages__title Үздік эксперттер алаңы brend
      .advantages__col
        +icon('winner', 'advantages__icon')
        h3.advantages__title Тұңғыш продюсерлік орталық
      .advantages__col
        +icon('brand', 'advantages__icon')
        h3.advantages__title Жаңа бренд қалыптастыру