section.courses
  .container
    h2.courses__title.title.title--size-small.title--color-yellow КУрстар
    .courses__row
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-1', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Rich Style
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Айжұлдыз Адайбекова
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Қымбат LOOK-ті арзан бағада
                  | тігуді Айжұлдызбен бірге үйрен!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-2', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Teleport PRO Max
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Асхат Шынәлі
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Әдемі де сапалы видео түсіруді үйрен де, мобилографияны табыс көзіне айналдыр!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-3', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Табысты
                | <br> Инфобизнесмен
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Таир Нұғман
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Тәжірибелі маман екенінді дәлелдеп, инфобизнес арқылы алғашқы миллионыңды тап!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-4', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Магазин саудасын көтерудің 5 жолы
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Cәкен Ділімбетов
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Қымбат LOOK-ті арзан бағада
                  | тігуді Айжұлдызбен бірге үйрен!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-5', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Алинаграфия
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Алина Избасарова
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Каллиграфия саласын меңгеріп, табысынды еселе!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-6', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name StoryBOOM 2.0
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Динара Есенова
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Инстаграмда охватындеселеп,
                  | <br> табыс көзіне айландыруды үйрен!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-7', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Motion Шебері
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Арман Сапиолда
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Профессионалдық деңгейдегі видеомонтаждың практикалық курсы
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-8', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Идеал Күн
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Қуаныш Шонбай
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Армандар орындалу үшін, проблемалар шешілу үшін жаралған!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу
      article.courses__col
        .courses__main
          .courses__head
            +picture('static/images/content/courses', 'courses-9', ['webp', 'png'], 'courses__image')
          .courses__body
            .courses__info
              h3.courses__name Онлайн Марафондағы Алғашқы Табысым
              .courses__category.divide Курс
            ul.courses__list
              li.courses__item
                +icon('user', 'courses__item-icon')
                span.courses__item-text Мейірбек Бердібайұлы
              li.courses__item.courses__item--color-gray
                +icon('pen', 'courses__item-icon')
                span.courses__item-text Инфобизнеске қадам онлайн марафоннан басталады!
        .courses__footer
          a(href="#").btn.btn--color-white.courses__btn Толығырақ білу