section.intro
  .intro__bg(data-bg="static/images/content/intro/intro-bg.jpg" data-bg-webp="static/images/content/intro/intro-bg.webp")
    .container(data-da="intro, last, 700")
      .intro__content
        h1.section-title.section-title--size-big.intro__title.section-title--color-yellow Expert Partners
        p.intro__desc Expert Partners 2019 жылдан бастап  әр саланың үздік эксперттерін нарыққа шығарумен айналысатын Қазақстандағы тұңғыш продюсерлік орталық