section.team#team
  .container
    h2.team__title.title.title--size-small Біздің эксперттер
    .swiper-container.team__slider
      .swiper-wrapper
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-1', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Таир Нұғман
              span.team__item-text Сату эксперті
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-2', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Қуаныш Шонбай
              span.team__item-text Бизнесмен
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-3', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Мейірбек Бердібайұлы
              span.team__item-text Кәсіпкер, маркетолог, продюсер
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-4', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Сәкен Ділімбетов
              span.team__item-text Ритейл маркетинг эксперті
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-5', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Асхат Шынәлі
              span.team__item-text Мобилограф
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-6', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Айжұлдыз Адайбекова
              span.team__item-text Дизайнер, мотиватор
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-7', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Арман Сапиолда
              span.team__item-text Моушн дизайнер
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-8', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Динара Есенова
              span.team__item-text Сторимэйкер
        .swiper-slide
          .team__item
            +picture('static/images/content/team', 'team-9', ['webp', 'jpg'], 'team__item-image')
            .team__item-content
              h3.team__item-title Алина Ізбасарова
              span.team__item-text Каллиграфия маманы
      .team__slider-control
        .swiper-button-prev.team__slider-arrow.team__slider-arrow--prev
          +icon('arrow-prev', 'team__slider-icon')
        .swiper-pagination.team__slider-pagination
        .swiper-button-next.team__slider-arrow.team__slider-arrow--next
          +icon('arrow-next', 'team__slider-icon')