.menu-mobile.menu-personal(data-bg="static/images/content/menu/menu-bg.jpg" data-bg-webp="static/images/content/menu/menu-bg.webp")
  .menu-mobile__header
    .logo.menu-mobile__logo
      a(href="index.html").logo__link
        +picture('static/images/common', 'logo', ['webp', 'png'], 'logo__image')
    button(type="button").hamburger.menu-mobile__hamburger
      +icon('burger', 'hamburger-icon')
  nav.menu
    ul.menu__list
      li.menu__item.menu__item--weight Имя пользователя
      li.menu__item
        +icon('seeing', 'menu__item-icon')
        a(href="news.html").menu__link Жаңалықтар
      li.menu__item
        +icon('book', 'menu__item-icon')
        a(href="course.html").menu__link Менің курстарым
      li.menu__item
        +icon('info', 'menu__item-icon')
        a(href="#").menu__link Міндеттер
      li.menu__item
        +icon('refresh', 'menu__item-icon')
        a(href="subscription.html").menu__link Подписка